
@model List<CRUDMVC.Models.EmployeModel>

<table class="table table-bordered table-hover">
    <tr>
        <th>id</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>Salary</th>
        <th>Department</th>

        <th>Gender</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    @foreach(var i in Model){
    <tr>
        <td>@i.id</td>
        <td>@i.First_Name</td>
        <td>@i.Last_Name</td>
        <td>@i.salary</td>
        <td>@i.Department</td>
        <td>@i.Genders</td>
        <td>@i.Date</td>
        <td><a class="btn btn-warning" href="@Url.Action("Edit", "Home", new {i.id})">Edit</a></td>
        <td><a class="btn btn-danger" href="@Url.Action("Delete", "home", new {i.id})">Delete</a></td>

    </tr>
    
    }
</table>

